
{% extends 'common.html' %}

{% block content %}
<style>
	.card {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  max-width: 300px;
	  margin: auto;
	  text-align: center;
	  font-family: arial;
	  
	}
	
	.price {
	  color: grey;
	  font-size: 22px;
	}
	
	.card button {
	  border: none;
	  outline: 0;
	  padding: 12px;
	  color: white;
	  background-color: #000;
	  text-align: center;
	  cursor: pointer;
	  width: 100%;
	  font-size: 18px;
	}
	
	.card button:hover {
	  opacity: 0.7;
	}
</style>

<div>
	
	  <h2 style="text-align:center">{{data.name}}</h2>

<div class="card">
  <img src="{{data.img.url}}"  style="width:100%">
  <h3>quantity={{data.quantity}}</h3>
  <p class="price">{{data.price}} Rs.</p>
  <p>{{data.description}}</p> 
  <p><button>Buy Now</button></p>
</div>
</a>
</div>

{% endblock %}

