<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Data</title>
</head>
<body>
{% comment %} <h2> userregister table </h2>
    <table border="1px">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>city</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.city}}</td>
        </tr>
        {% endfor %}
    </table> {% endcomment %}
<h2> product table </h2>

    <table border="2px">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>price</th>
            <th>quantity</th>
            <th>description</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.price}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.description}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>